.bodycontainer{
    background-color: #3e4c59;
    padding: 15px;
}
.div{
    padding: 20px;
    background-color: #323f4b;
    margin-bottom: 15px;
    border-radius: 10px;
}
h3{
    color: aliceblue;
}
#img{
    /* height: 40vh; */
    
    width: 100%;
}
.portfoilo-link{
    color: #cced00;
    font-weight: bold;
}
#tag{
    background-color: rgba(199, 155, 237, 0.624);
    border-radius: 20px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
p{
    color: rgb(106, 112, 110);
    font-size: 20px;
}
.image{
     height: 400px;
    width: 100%;
}
h1{
    color:#ffffff ;
    font-style: "bree serif";
}
h4{
    color: rgb(121, 255, 25);
}
